{% extends 'index/index.html' %}
{% block dashboard %}
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                {% if user.is_authenticated %}
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                </div>
                {% else %}
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">current</th>
      <th scope="col">sts</th>
    </tr>
  </thead>
  <tbody>
      {% for i in data %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.current }} </td>
        <td>{{ i.sts }}</td>
        <td>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ i.id }}">
                <input type="submit" name="update" value="Подтвердить">
                <input type="submit" name="delete" value="delete">
            </form>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<form method="post">
    <table>
        {% csrf_token %}
        {{ form }}
    </table>
    <input type="submit" value="submit" name="create">
</form>
{% endblock %}


